Repository bannoscakes/bannoscakes-ordak-ui, changes with the owners that CODEOWNERS names for each.
All owners: @bannoscakes/architecture-team, @bannoscakes/backend-team, @bannoscakes/database-team

docs: comprehensive Master_Task.md cleanup for v0.9.4-beta (#141)
  docs/Master_Task.md
Owners: none

fix: prevent random logouts and improve auth session stability
  src/App.tsx
  src/lib/auth.ts
  src/lib/rpc-client.ts
  src/lib/supabase.ts
Owners: @bannoscakes/architecture-team, @bannoscakes/backend-team

fix: move useEffect hook to top level to follow React rules
  src/App.tsx
Owners: @bannoscakes/architecture-team

fix: prevent random logouts and improve auth session stability (#142)
  src/App.tsx
  src/lib/auth.ts
  src/lib/rpc-client.ts
  src/lib/supabase.ts
Owners: @bannoscakes/architecture-team, @bannoscakes/backend-team

chore: ignore VS Code workspace files
  .gitignore
Owners: none

fix(migrations): restore 029 and 030 as no-ops to satisfy Supabase preview check
  supabase/migrations/029_stage_events_align_fix.sql
  supabase/migrations/030_stage_events_consolidate.sql
Owners: none

CODEOWNERS:

# Auth system â€” LOCKED
/src/lib/auth.ts                 @bannoscakes/architecture-team
/src/contexts/AuthContext.tsx    @bannoscakes/architecture-team
/src/hooks/useAuth.ts            @bannoscakes/architecture-team
/src/App.tsx                     @bannoscakes/architecture-team
/vite.config.ts                  @bannoscakes/architecture-team
/package.json                    @bannoscakes/architecture-team

# Single URL architecture
/docs/SINGLE_URL_ARCHITECTURE.md                 @bannoscakes/architecture-team
/.eslintrc.single-url.js                         @bannoscakes/architecture-team
/src/tests/single-url-architecture.test.tsx      @bannoscakes/architecture-team
/docs/AUTH_SYSTEM_LOCKED.md                      @bannoscakes/architecture-team

# Messaging
/src/features/messages/**        @bannoscakes/architecture-team

# RPC & Database
/src/lib/rpc-client.ts           @bannoscakes/backend-team
/supabase/sql/**                 @bannoscakes/database-team

# CI & Tests
/.github/workflows/**            @bannoscakes/architecture-team
/tests/**                        @bannoscakes/architecture-team
