Repository bannoscakes/bannoscakes-ordak-ui, changes with the owners that CODEOWNERS names for each.
All owners: @bannoscakes/architecture-team, @bannoscakes/backend-team, @bannoscakes/database-team

docs: add .env.example and update environment documentation (#94)
  .env.example
  docs/environment.md
Owners: none

fix: make realtime publication migration truly idempotent
  supabase/sql/20250114_verify_realtime_publication.sql
Owners: @bannoscakes/database-team

feat(migration): verify supabase_realtime publication for messaging (#95)
  docs/migration-order.md
  supabase/sql/20250114_verify_realtime_publication.sql
Owners: @bannoscakes/database-team

fix: post-merge sanity fixes
  .eslintrc.single-url.js
  docs/AUDIT_PLAN.md
  docs/CONSOLIDATED_PROJECT_STATUS.md
  docs/PROJECT_STATUS.md
  src/components/Logout.tsx
  src/tests/single-url-architecture.test.tsx
Owners: @bannoscakes/architecture-team

fix(router): block /false and log culprit; make sign-out deterministic
  src/App.tsx
  src/components/Logout.tsx
  src/components/Sidebar.tsx
  src/lib/safeNavigate.ts
Owners: @bannoscakes/architecture-team

feat: add boot-time URL normalizer and dev history guard
  src/lib/devHistoryGuard.ts
  src/main.tsx
Owners: none

fix: remove unused React Router imports from safeNavigate.ts
  src/lib/safeNavigate.ts
Owners: none

fix: address cursor bot feedback for navigation and ESLint issues
  .eslintrc.single-url.js
  src/components/Logout.tsx
  src/lib/devHistoryGuard.ts
Owners: @bannoscakes/architecture-team

Fix/block false route and log source (#97)
  .eslintrc.single-url.js
  docs/AUDIT_PLAN.md
  docs/CONSOLIDATED_PROJECT_STATUS.md
  docs/PROJECT_STATUS.md
  src/App.tsx
  src/components/Logout.tsx
  src/components/Sidebar.tsx
  src/lib/devHistoryGuard.ts
  src/lib/safeNavigate.ts
  src/main.tsx
  src/tests/single-url-architecture.test.tsx
Owners: @bannoscakes/architecture-team

feat: integrate Sentry (minimal)
  package-lock.json
  package.json
  src/lib/error-monitoring.ts
  src/main.tsx
Owners: @bannoscakes/architecture-team

fix: rename error-monitoring.ts to .tsx for JSX support
  src/lib/error-monitoring.tsx
Owners: none

fix: resolve Sentry TypeScript compilation errors
  package-lock.json
  package.json
  src/lib/error-monitoring.tsx
Owners: @bannoscakes/architecture-team

fix: resolve Sentry package version mismatch
  package-lock.json
  package.json
  src/lib/error-monitoring.tsx
Owners: @bannoscakes/architecture-team

feat: integrate Sentry (minimal) (#98)
  package-lock.json
  package.json
  src/lib/error-monitoring.tsx
  src/main.tsx
Owners: @bannoscakes/architecture-team

fix: add path filtering to Supabase Preview workflow
  .github/workflows/supabase-preview.yml
Owners: @bannoscakes/architecture-team

fix: improve CI job efficiency with proper step conditionals
  .github/workflows/supabase-preview.yml
Owners: @bannoscakes/architecture-team

Fix/supabase preview path filtering (#99)
  .github/workflows/supabase-preview.yml
Owners: @bannoscakes/architecture-team

chore: block direct database writes from frontend (enforce RPC-only)
  .github/workflows/ci.yml
  docs/PROJECT_STATUS.md
  package.json
  scripts/scan-direct-writes.sh
  src/tests/rpc-client-usage.test.ts
Owners: @bannoscakes/architecture-team

fix: resolve async describe and YAML syntax issues
  .github/workflows/ci.yml
  src/tests/rpc-client-usage.test.ts
Owners: @bannoscakes/architecture-team

Chore/block direct database writes (#100)
  .github/workflows/ci.yml
  docs/PROJECT_STATUS.md
  package.json
  scripts/scan-direct-writes.sh
  src/tests/rpc-client-usage.test.ts
Owners: @bannoscakes/architecture-team

docs: update project status with today's merged PRs
  docs/AUDIT_PLAN.md
  docs/CONSOLIDATED_PROJECT_STATUS.md
  docs/PROJECT_STATUS.md
Owners: none

chore(ci): harden RPC-only guard; DSN-gated Sentry; filter Supabase preview to SQL
  .github/workflows/ci.yml
  docs/security-audit-report.md
  package.json
  scripts/scan-direct-writes.sh
  src/lib/error-monitoring.tsx
Owners: @bannoscakes/architecture-team

security: fix hardcoded credentials in CI workflow
  .github/workflows/ci.yml
  docs/github-secrets-setup.md
Owners: @bannoscakes/architecture-team

fix: move RPC guard check after Node.js setup in CI
  .github/workflows/ci.yml
Owners: @bannoscakes/architecture-team

fix: resolve GitHub Actions context warnings in CI workflow
  .github/workflows/ci.yml
  docs/github-secrets-setup.md
Owners: @bannoscakes/architecture-team

security: remove hardcoded credentials from documentation
  .github/workflows/ci.yml
  docs/github-secrets-setup.md
Owners: @bannoscakes/architecture-team

fix: correct Sentry tracing logic for development debugging
  src/lib/error-monitoring.tsx
Owners: none

Chore/ci guard and sentry hardening (#101)
  .github/workflows/ci.yml
  docs/AUDIT_PLAN.md
  docs/CONSOLIDATED_PROJECT_STATUS.md
  docs/PROJECT_STATUS.md
  docs/github-secrets-setup.md
  docs/security-audit-report.md
  package.json
  scripts/scan-direct-writes.sh
  src/lib/error-monitoring.tsx
Owners: @bannoscakes/architecture-team

feat: add E2E testing, mobile responsiveness, and production deployment docs
  docs/DEPLOY_PRODUCTION.md
  package-lock.json
  package.json
  playwright.config.ts
  src/components/QueueTable.tsx
  src/components/messaging/MessagesPage.tsx
  tests/e2e/auth.spec.ts
  tests/e2e/messaging.spec.ts
Owners: @bannoscakes/architecture-team

Revert "Fix order creation function bugs (#45)"
  src/components/UnassignedStations.tsx
  src/lib/supabase.ts
  src/lib/supabaseClient.ts
Owners: none

Revert "Update 008_ingest_order_rpc.sql (#51)"
  supabase/sql/008_ingest_order_rpc.sql
Owners: @bannoscakes/database-team

chore(validation): run vitest in CI mode; replace custom single-URL lint with flat
  .eslintrc.single-url.js
  .eslintrc.single-url.mjs
  docs/VERIFY_UI_BACKEND.md
  package.json
Owners: @bannoscakes/architecture-team

feat(db): add staff and inventory RPC surface
  supabase/sql/20250115_inventory_txn.sql
  supabase/sql/20250115_staff_surface.sql
Owners: @bannoscakes/database-team

docs: complete UI ↔ Backend verification checklist
  docs/VERIFY_UI_BACKEND.md
Owners: none

fix(ci): enable Supabase Preview for direct pushes to dev/main
  .github/workflows/supabase-preview.yml
Owners: @bannoscakes/architecture-team

Revert "fix(ci): enable Supabase Preview for direct pushes to dev/main"
  .github/workflows/supabase-preview.yml
Owners: @bannoscakes/architecture-team

fix(ci): suppress false YAML linter warnings
  .github/workflows/ci.yml
  .github/workflows/supabase-preview.yml
  .gitignore
Owners: @bannoscakes/architecture-team

fix(ci): suppress false YAML linter warnings (#104)
  .github/workflows/ci.yml
  .github/workflows/supabase-preview.yml
  .gitignore
Owners: @bannoscakes/architecture-team

fix(yaml): suppress false linter warnings with yamllint disable-line
  .github/workflows/ci.yml
  .github/workflows/supabase-preview.yml
  .yamllint
Owners: @bannoscakes/architecture-team

fix(vscode): add GitHub Actions schema for YAML validation
  .github/workflows/supabase-preview.yml
  .gitignore
  .vscode/settings.json
Owners: @bannoscakes/architecture-team

CODEOWNERS:

# Auth system â€” LOCKED
/src/lib/auth.ts                 @bannoscakes/architecture-team
/src/contexts/AuthContext.tsx    @bannoscakes/architecture-team
/src/hooks/useAuth.ts            @bannoscakes/architecture-team
/src/App.tsx                     @bannoscakes/architecture-team
/vite.config.ts                  @bannoscakes/architecture-team
/package.json                    @bannoscakes/architecture-team

# Single URL architecture
/docs/SINGLE_URL_ARCHITECTURE.md                 @bannoscakes/architecture-team
/.eslintrc.single-url.js                         @bannoscakes/architecture-team
/src/tests/single-url-architecture.test.tsx      @bannoscakes/architecture-team
/docs/AUTH_SYSTEM_LOCKED.md                      @bannoscakes/architecture-team

# Messaging
/src/features/messages/**        @bannoscakes/architecture-team

# RPC & Database
/src/lib/rpc-client.ts           @bannoscakes/backend-team
/supabase/sql/**                 @bannoscakes/database-team

# CI & Tests
/.github/workflows/**            @bannoscakes/architecture-team
/tests/**                        @bannoscakes/architecture-team
